<div>
	<header><h4 class="animated swing">热销精选</h4></header>
	<div class="swiper-container">
  		<div class="swiper-wrapper">
   			<div class="swiper-slide"><img src="img/banner_list01.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list02.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list03.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list04.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list05.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list06.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list07.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list08.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list09.jpg"/></div>
        	<div class="swiper-slide"><img src="img/banner_list10.jpg"/></div>
  		</div>
  		<div class="swiper-pagination"></div>
	</div>
	<div class="index_list animated bounceInDown">
		<ul>
			<li><a href="#!/page/01"><img src="img/index_list01.jpg"/><p>冲浪板成人专业站立式滑水板水上充气趴水板</p><span>￥300</span></a></li>
			<li><a href="#!/page/02"><img src="img/index_list02.jpg"/><p>成人专业冲浪板可站立滑水板海边板</p><span>￥9.9</span></a></li>
			<li><a href="#!/page/03"><img src="img/index_list03.jpg"/><p>初学者学游泳神器游泳浮板打水板成人漂浮板</p><span>￥59</span></a></li>
			<li><a href="#!/page/04"><img src="img/index_list04.jpg"/><p>AquaMarina乐划充气桨板冲浪板站立式划水板</p><span>￥2339.25</span></a></li>
			<li><a href="#!/page/05"><img src="img/index_list05.jpg"/><p>成人初学浮板趴板滑水板站立高级硬板板划水</p><span>￥2299</span></a></li>
			<li><a href="#!/page/06"><img src="img/index_list06.jpg"/><p>冲浪板成人专业充气桨板滑水板sup划水板</p><span>￥2255</span></a></li>
			<li><a href="#!/page/07"><img src="img/index_list07.jpg"/><p>NH充气sup桨板划水板双层充气站板冲浪浆板</p><span>￥2990</span></a></li>
			<li><a href="#!/page/08"><img src="img/index_list08.jpg"/><p>AquaMarina/乐划 桨板充气冲浪板SUP滑水板</p><span>￥1918</span></a></li>
		</ul>
	</div>
</div>
<script>
var mySwiper = new Swiper('.swiper-container', {
		autoplay: 2000,
		loop:true,
		grabCursor : true,
		autoplayDisableOnInteraction : false,
		speed:500,
		pagination : '.swiper-pagination',
		paginationClickable :true,
	})
	
</script>
