<div>
	<header><h4 class="animated rollIn">冲浪板精选</h4></header>
	<div class="index_list animated  bounce">
		<ul>
			<li><a href="#!/page/09"><img src="img/index_list09.jpg"/><p>冲浪板成人充气桨板sup浆板划水滑水板</p><span>￥2067</span></a></li>
			<li><a href="#!/page/10"><img src="img/index_list10.jpg"/><p>怪兽号 进口料高档划板sup桨板冲浪滑水板</p><span>￥2673</span></a></li>
			<li><a href="#!/page/11"><img src="img/index_list11.jpg"/><p>AquaMarina乐划风帆板sup桨板划水冲浪帆板</p><span>￥3104</span></a></li>
			<li><a href="#!/page/12"><img src="img/index_list12.jpg"/><p>乐划桨板充气冲浪板滑水板sup桨板</p><span>￥2339.25</span></a></li>
			<li><a href="#!/page/13"><img src="img/index_list13.jpg"/><p>arena打水板成人训练漂浮力板划水板</p><span>￥199</span></a></li>
			<li><a href="#!/page/14"><img src="img/index_list14.jpg"/><p>维特拉充气桨板成人专业划水板站立式冲浪板</p><span>￥2199</span></a></li>
			<li><a href="#!/page/15"><img src="img/index_list15.jpg"/><p>冲浪板成人专业站立式滑水板水上充气趴水板</p><span>￥300</span></a></li>
			<li><a href="#!/page/16"><img src="img/index_list16.jpg"/><p>成人专业冲浪板滑水趴板儿童游泳浮板打水板</p><span>￥78</span></a></li>
			<li><a href="#!/page/01"><img src="img/index_list01.jpg"/><p>冲浪板成人专业站立式滑水板水上充气趴水板</p><span>￥2384</span></a></li>
			<li><a href="#!/page/02"><img src="img/index_list02.jpg"/><p>成人专业冲浪板可站立滑水板海边板</p><span>￥9.9</span></a></li>
			<li><a href="#!/page/03"><img src="img/index_list03.jpg"/><p>初学者学游泳神器游泳浮板打水板成人漂浮板</p><span>￥59</span></a></li>
			<li><a href="#!/page/04"><img src="img/index_list04.jpg"/><p>AquaMarina乐划充气桨板冲浪板站立式划水板</p><span>￥2339.25</span></a></li>
			<li><a href="#!/page/05"><img src="img/index_list05.jpg"/><p>成人初学浮板趴板滑水板站立高级硬板板划水</p><span>￥2299</span></a></li>
			<li><a href="#!/page/06"><img src="img/index_list06.jpg"/><p>冲浪板成人专业充气桨板滑水板sup划水板</p><span>￥2255</span></a></li>
			<li><a href="#!/page/07"><img src="img/index_list07.jpg"/><p>NH充气sup桨板划水板双层充气站板冲浪浆板</p><span>￥2990</span></a></li>
			<li><a href="#!/page/08"><img src="img/index_list08.jpg"/><p>AquaMarina/乐划 桨板充气冲浪板SUP滑水板</p><span>￥1918</span></a></li>
		</ul>
	</div>
</div>
